<header class="absolute inset-x-0 top-0 z-50">
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a routerLink="/home" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-6 w-auto" src="assets/images/logo_indigo.png" alt="" />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <button routerLinkActive="active" class="nav-link" routerLink="/home">
        Home
      </button>
      <button
        routerLinkActive="active"
        class="nav-link"
        [brnMenuTriggerFor]="clientDropdown"
      >
        Clients
        <svg
          class="-mr-1 h-5 w-5 text-black"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <ng-template #clientDropdown>
        <hlm-menu class="w-56">
          <hlm-menu-group>
            <a hlmMenuItem class="menu-item" routerLink="/clients">
              <hlm-icon name="radixPerson" hlmMenuIcon />
              <span>View clients</span>
            </a>

            <a hlmMenuItem class="menu-item" routerLink="clients/create">
              <hlm-icon name="radixPlusCircled" hlmMenuIcon />
              <span>Create client</span>
            </a>
            <a hlmMenuItem class="menu-item">
              <hlm-icon name="radixCardStack" hlmMenuIcon />
              <span>View my cars</span>
            </a>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>

      <button
        routerLinkActive="active"
        class="nav-link"
        [brnMenuTriggerFor]="carDropdown"
      >
        Cars
        <svg
          class="-mr-1 h-5 w-5 text-black"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <ng-template #carDropdown>
        <hlm-menu class="w-56">
          <hlm-menu-group>
            <a hlmMenuItem class="menu-item" routerLink="cars">
              <hlm-icon name="radixCardStack" hlmMenuIcon />
              <span>View cars</span>
            </a>

            <a hlmMenuItem class="menu-item" routerLink="cars/create">
              <hlm-icon name="radixPlusCircled" hlmMenuIcon />
              <span>Create car</span>
            </a>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a
        routerLink="/clients/create"
        class="font-semibold leading-6 text-gray-900 hover:text-accent hover:underline hover:underline-offset-4"
      >
        Sign in <span aria-hidden="true">&rarr;</span>
      </a>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div
      class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
            alt=""
          />
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Product</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Features</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Marketplace</a
            >
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Company</a
            >
          </div>
          <div class="py-6">
            <a
              href="#"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
              >Log in</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
